@font-face {
    font-family: 'CatCafe';
    src: url('CatCafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sanafon';
    src: url('SanafonYu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shigoto';
    src: url('ShigotoMemogaki.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakusyuKaisyo';
    src: url('HakusyuKaisyoExtraBold_kk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KanazawaHonmaru';
    src: url('KanazawaHonmaruGothicMini.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BokosukaMonster';
    src: url('BokosukaMonster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarenosoraMincho';
    src: url('HarenosoraMincho.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ACGyosyo';
    src: url('acgyosyo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KizunaDrops';
    src: url('KizunaDrops.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RiiPop';
    src: url('RiiPopkaku-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pomeranian';
    src: url('Pomeranian-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EriJi';
    src: url('ERIJI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceHanSerif';
    src: url('SourceHanSerif-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 0.9em;
}